---
- name: Install Go tools (Modules mode)
  command: go get github.com/acroca/go-symbols \
    github.com/davidrjenni/reftools/cmd/fillstruct \
    github.com/haya14busa/goplay/cmd/goplay \
    github.com/mdempsky/gocode \
    github.com/sqs/goreturns \
    github.com/uudashr/gopkgs/v2/cmd/gopkgs \
    github.com/zmb3/gogetdoc \
    golang.org/x/lint/golint \
    golang.org/x/tools/cmd/gorename \
    github.com/go-delve/delve/cmd/dlv \
    github.com/stamblerre/gocode \
    golang.org/x/tools/cmd/guru \
    github.com/fatih/gomodifytags \
    github.com/josharian/impl \
    github.com/godoctor/godoctor \
    golang.org/x/tools/gopls \
    github.com/golangci/golangci-lint/cmd/golangci-lint
  args:
    creates: "{{ ansible_env['HOME'] }}/go/pkg/mod/github.com/\
      godoctor"
  environment:
    GO111MODULE: "on"
  tags: ["vscode", "go", "step3"]

- name: Install Go tools (GOPATH mode)
  command: go get github.com/cweill/gotests/... \
    github.com/rogpeppe/godef \
    github.com/ramya-rao-a/go-outline
  args:
    creates: "{{ ansible_env['HOME'] }}/go/src/github.com/\
      rogpeppe/godef/"
  environment:
    GO111MODULE: "off"
  tags: ["vscode", "go", "step3"]
