---
- name: Check Microsoft key
  stat:
    path: /usr/share/keyrings/packages.microsoft.gpg
  register: microsoft_key
  tags: ["vscode"]

- name: Install Microsoft key
  block:
    - name: Get Microsoft key
      get_url:
        url: https://packages.microsoft.com/keys/microsoft.asc
        dest: "{{ ansible_env['HOME'] }}/microsoft.asc"
        checksum: "{{ microsoft_checksum }}"
      tags: ["vscode"]

    - name: Unpack ASCII armor
      command: gpg --dearmor "{{ ansible_env['HOME'] }}/microsoft.asc"
      tags: ["vscode"]

    - name: Copy Microsoft key
      copy:
        src: "{{ ansible_env['HOME'] }}/microsoft.asc.gpg"
        dest: /usr/share/keyrings/packages.microsoft.gpg
        mode: "0644"
        group: root
        owner: root
      become: true
      tags: ["vscode"]

    - name: Remove temporary files
      file:
        path: "{{ item }}"
        state: absent
      loop:
        - "{{ ansible_env['HOME'] }}/microsoft.asc"
        - "{{ ansible_env['HOME'] }}/microsoft.asc.gpg"
      tags: ["vscode"]
  when: not microsoft_key.stat.exists

- name: Configure vscode repo
  copy:
    dest: /etc/apt/sources.list.d/vscode.list
    content: >-
      deb [arch=amd64 signed-by=/usr/share/keyrings/packages.microsoft.gpg]
      https://packages.microsoft.com/repos/vscode stable main
  become: true
  tags: ["vscode"]

- name: Install vscode
  apt:
    update_cache: true
    name: code-insiders
  become: true
  tags: ["vscode"]

- name: Install vscode plugins
  command: code-insiders --install-extension {{ item.name }}
  args:
    creates: "{{ ansible_env['HOME'] }}/\
    .vscode-insiders/extensions/{{ item.path }}"
  loop: "{{ vscode_plugings }}"
  tags: ["vscode"]

- name: Copy vscode configuration
  template:
    src: settings.json.j2
    dest: "{{ ansible_env['HOME'] }}/.config/Code - Insiders/User/settings.json"
  tags: ["vscode"]

- name: Install Go tools
  import_tasks: go.yml
  tags: ["vscode", "go", "step3"]
