---
- name: Install linuxbrew
  git:
    repo: https://github.com/Homebrew/brew
    dest: "{{ ansible_env['HOME'] }}/.linuxbrew/Homebrew"
    version: master
  tags: ["linuxbrew"]

- name: Create .linuxbrew/bin
  file:
    dest: "{{ ansible_env['HOME'] }}/.linuxbrew/bin"
    state: directory
  tags: ["linuxbrew"]

- name: Create symlink
  file:
    src: "{{ ansible_env['HOME'] }}/.linuxbrew/Homebrew/bin/brew"
    dest: "{{ ansible_env['HOME'] }}/.linuxbrew/bin/brew"
    state: link
  tags: ["linuxbrew"]

- name: Configure .bashrc
  blockinfile:
    path: "{{ ansible_env['HOME'] }}/.bashrc_{{ ansible_env['USER'] }}"
    insertbefore: "^# bash_it_begin"
    marker_begin: linuxbrew_begin
    marker_end: linuxbrew_end
    marker: "# {mark}"
    block: |
      eval $(~/.linuxbrew/bin/brew shellenv)
      source ~/.linuxbrew/Homebrew/completions/bash/brew
  tags: ["linuxbrew"]

- name: Install brew packages
  homebrew:
    name: "{{ linuxbrew_packages }}"
  tags: ["linuxbrew","step3"]
