---
- name: Copy apt module
  copy:
    src: /usr/lib/python3/dist-packages/{{ item }}
    dest: "{{ ansible_env['PYENV_VIRTUAL_ENV'] }}/lib/python3.8/site-packages"
    remote_src: true
  loop:
    - apt
    - apt_inst.cpython-38-x86_64-linux-gnu.so
    - apt_pkg.cpython-38-x86_64-linux-gnu.so
  tags: ["common", "python"]

- name: Update system
  apt:
    autoclean: true
    autoremove: true
    cache_valid_time: 600
    upgrade: dist
  become: true
  tags: ["common"]

- name: Install common packages
  apt:
    name: "{{ common_package }}"
  become: true
  tags: ["common"]

- name: Install python packages into ansible virtualenv
  pip:
    name: "{{ item }}"
    virtualenv_python: pyenv
    virtualenv: "{{ ansible_env['PYENV_VIRTUAL_ENV'] }}"
  loop:
    - ansible-lint
    - psutil
  tags: ["common", "python"]

- name: Install Docker
  debug:
    msg: "Waiting Docker CE for Fossa"
  tags: ["common", "todo"]

- name: Install VirtualBox
  debug:
    msg: "Waiting VirtualBox for Fossa"
  tags: ["common", "todo"]

- name: Check Microsoft key
  stat:
    path: /usr/share/keyrings/packages.microsoft.gpg
  register: microsoft_key
  tags: ["common"]

- name: Install Microsoft key
  block:
    - name: Get Microsoft key
      get_url:
        url: https://packages.microsoft.com/keys/microsoft.asc
        dest: "{{ ansible_env['HOME'] }}/microsoft.asc"
        checksum: "{{ microsoft_checksum }}"
      tags: ["common"]

    - name: Unpack ASCII armor
      command: gpg --dearmor "{{ ansible_env['HOME'] }}/microsoft.asc"
      tags: ["common"]

    - name: Copy Microsoft key
      copy:
        src: "{{ ansible_env['HOME'] }}/microsoft.asc.gpg"
        dest: /usr/share/keyrings/packages.microsoft.gpg
        mode: "0644"
        group: root
        owner: root
      become: true
      tags: ["common"]

    - name: Remove temporary files
      file:
        path: "{{ item }}"
        state: absent
      loop:
        - "{{ ansible_env['HOME'] }}/microsoft.asc"
        - "{{ ansible_env['HOME'] }}/microsoft.asc.gpg"
      tags: ["common"]
  when: not microsoft_key.stat.exists

- name: Configure vscode repo
  copy:
    dest: /etc/apt/sources.list.d/vscode.list
    content: >-
      deb [arch=amd64 signed-by=/usr/share/keyrings/packages.microsoft.gpg]
      https://packages.microsoft.com/repos/vscode stable main
  become: true
  tags: ["common"]

- name: Install vscode
  apt:
    update_cache: true
    name: code-insiders
  become: true
  tags: ["common"]

- name: Copy .gitconfig
  copy:
    src: scmconfig
    dest: "{{ ansible_env['HOME'] }}/.gitconfig"
  tags: ["common"]

- name: Copy .vimrc
  copy:
    src: vimrc
    dest: "{{ ansible_env['HOME'] }}/.vimrc"
  tags: ["common"]
