---
- name: Copy apt module
  copy:
    src: /usr/lib/python3/dist-packages/{{ item }}
    dest: "{{ ansible_env['PYENV_VIRTUAL_ENV'] }}/lib/python3.8/site-packages"
    remote_src: true
  loop:
    - apt
    - apt_inst.cpython-38-x86_64-linux-gnu.so
    - apt_pkg.cpython-38-x86_64-linux-gnu.so
    - aptsources
  tags: ["common", "python"]

- name: Update system
  apt:
    autoclean: true
    autoremove: true
    cache_valid_time: 600
    upgrade: dist
  become: true
  tags: ["common"]

- name: Install common packages
  apt:
    name: "{{ common_package }}"
  become: true
  tags: ["common"]

- name: Install python packages into ansible virtualenv
  pip:
    name: "{{ item }}"
    virtualenv_python: pyenv
    virtualenv: "{{ ansible_env['PYENV_VIRTUAL_ENV'] }}"
  loop: "{{ pip_ansible }}"
  tags: ["common", "python"]

- name: Create venv38 virtualenv
  command: pyenv virtualenv venv38
  args:
    creates: "{{ ansible_env['HOME'] }}/.pyenv/versions/{{ ansible_python_version }}/envs/venv38"
  tags: ["common", "python"]

- name: Install packages inside venv38 virtualenv
  pip:
    name: "{{ item }}"
    virtualenv_python: pyenv
    virtualenv: "{{ ansible_env['HOME'] }}/.pyenv/versions/{{ ansible_python_version }}/envs/venv38"
  loop:
    - boto3
    - pylint
    - requests
  tags: ["common", "python"]

- name: Copy .gitconfig
  copy:
    src: scmconfig
    dest: "{{ ansible_env['HOME'] }}/.gitconfig"
  tags: ["common"]

- name: Copy .vimrc
  copy:
    src: vimrc
    dest: "{{ ansible_env['HOME'] }}/.vimrc"
  tags: ["common"]

- name: Install Oh My Tmux
  git:
    repo: https://github.com/gpakosz/.tmux.git
    dest: "{{ ansible_env['HOME'] }}/.tmux"
    version: master
  tags: ["common"]

- name: Create .tmux link
  file:
    src: "{{ ansible_env['HOME'] }}/.tmux/.tmux.conf"
    dest: "{{ ansible_env['HOME'] }}/.tmux.conf"
    state: link
  tags: ["common"]

- name: Copy .tmux.conf.local
  copy:
    src: tmux.conf.local
    dest: "{{ ansible_env['HOME'] }}/.tmux.conf.local"
  tags: ["common"]

- name: Configure sudo
  blockinfile:
    path: "/etc/sudoers"
    block: |
      wrcomb  ALL=(ALL:ALL) NOPASSWD: /usr/bin/apt,/sbin/reboot,/sbin/shutdown
      wrcomb  ALL=(www-data) NOPASSWD: ALL
    validate: /usr/sbin/visudo -cf %s
  become: "yes"
  tags: ["common"]

- name: Install Docker
  import_tasks: docker.yml
  become: "yes"
  tags: ["common", "docker"]

- name: Install VirtualBox
  import_tasks: virtualbox.yml
  become: "yes"
  tags: ["common", "virtualbox"]

- name: Restore files
  import_tasks: restore.yml
  tags: ["common", "restore"]

