{
    "python.pythonPath": "{{ ansible_env['HOME'] }}/.pyenv/versions/venv38/bin/python",
    "python.insidersChannel": "daily",
    "terminal.integrated.fontFamily": "'Source Code Pro'",
    "go.useLanguageServer": true,
    "go.lintTool": "golangci-lint",
    "workbench.startupEditor": "none",
    "editor.wordWrap": "on"
}