{
    "python.pythonPath": "{{ ansible_env['HOME'] }}/.pyenv/versions/venv38/bin/python",
    "terminal.integrated.fontFamily": "'Source Code Pro'",
    "go.useLanguageServer": true,
    "go.lintTool": "golangci-lint"
}